<?xml version='1.0' encoding='utf-8'?>
<widget id="talk.build" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TalkBuild</name>
    <description>
       Social Media Network for construction professionals
    </description>
    <author email="developers@cfadigital.com" href="http://cfa-marketing.com">
        Cfa Developers
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" gap:role="default" />
</widget>
